main {
  justify-content: center;
}

@media only screen and (min-width: 830px) {
  main {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    justify-content: center;
  }

}